<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mydb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <!-- Add your classes here -->
        <mapping class="dev.luzifer.database.objects.Map"/>
        <mapping class="dev.luzifer.database.objects.ItemDraft"/>
        <mapping class="dev.luzifer.database.objects.Player"/>
        <mapping class="dev.luzifer.database.objects.Region"/>
        <mapping class="dev.luzifer.database.objects.PlayedChamp"/>
        <mapping class="dev.luzifer.database.objects.BannedChamp"/>
        <mapping class="dev.luzifer.database.objects.PaladinsChamp"/>
        <mapping class="dev.luzifer.database.objects.flaws.Match"/>
        <mapping class="dev.luzifer.database.objects.Deck"/>
    </session-factory>
</hibernate-configuration>